body{
    background-image: url(./assests/background.png);
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #4C1D95;
}

h1{
    margin-bottom: 1px;
}
p{
    margin-top: 2px;
    margin-bottom: 2rem;

}




.task{
    position: relative;
    width: 500px;
    margin: 30px auto;
}


.task i{
    margin-top: 10px;
    position: absolute;
    left: 15px;
    top: 18px;
    color: gray;
    font-size: 18px;
}

.line{
    display: flex;
}
.text{
    margin-right: 20px;
    margin-top: 5px;
}
.task input[type="text"]{
    width: 100%;
    padding: 15px 15px 15px 45px;
    border: 2px solid #7b61ff;
    border-radius: 12px;
    font-size: 20px;
    outline: none;
    box-sizing: border-box;
}

.task button{
    margin-top: 15px;
    padding: 12px 25px;
    border: none;
    border-radius: 10px;
    background: #7b61ff;
    color: white;
    cursor: pointer;
}

.list li{
    display: flex;
    align-items: center;
    font-size: 25px;
    gap: 5px;
    margin-top: 12px;
}
.list input[type="checkbox"]{
    width: 18px;
    height: 18px;
    cursor: pointer;
}
